<row>
    <div class="card col-12 border-0">
        <div class="card-body">
          <h1 class="card-title">Contac</h1>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias praesentium enim voluptatum magni cum eaque minima ex sed, dicta rerum voluptas sint saepe officia dolor laborum earum tempore aliquid quod?</p>
        </div>
    </div>
</row>
<row class="justify-content-center d-flex">
    <div class="col-10 card p-4 text-end bg-light">
        <div class="row d-flex">
            <label for="exampleFormControlInput1" class="form-label col-3 fw-bold">Your E-mail</label>
            <input type="email" class="col-9 border border-2 rounded" id="exampleFormControlInput1" placeholder="Your email">
          </div>
          <div class="row d-flex pt-2">
            <label for="exampleFormControlTextarea1" class="form-label col-3 fw-bold">Your message</label>
            <textarea class="col-9 border border-2 rounded" placeholder="Please entre your message" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="d-grid gap-2 d-flex justify-content-end pt-3">
            <button class="btn btn-primary" type="button">Submit</button>
          </div>
    </div>
</row>