<div class="card mb-3 p-5 border-0">
    <div class="row g-0">
      <div class="col-8">
        <div class="card-body">
          <h1 class="card-title">The First Heading <span style="color: gray;">Will Catch Your Eye</span></h1>
          <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. 1Fusce dapibus, tellus ac cursus commodo. 
        </p>
        </div>
      </div>
      <div class="col-4">
        <img  src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="...">
      </div>
    </div>
</div>