<row>
    <div class="card col-12 border-0">
        <div class="card-body">
          <h1 class="card-title">Portfolio</h1>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias praesentium enim voluptatum magni cum eaque minima ex sed, dicta rerum voluptas sint saepe officia dolor laborum earum tempore aliquid quod?</p>
        </div>
    </div>
</row>
<row>
    <div class="d-flex">
        <div class="card col-4 p-2 border-0" >
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p><h3 style="color: blue;">Project Name</h3></p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-4 p-2 border-0" >
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p><h3 style="color: blue;">Project Name</h3></p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-4 p-2 border-0" >
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p><h3 style="color: blue;">Project Name</h3></p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</row>