<row>
    <div class="pt-5" style="background-image: url(assets/img/bg.jpg); height: 600px; background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div style="color: black;" class=" p-0 alert alert-light m-2 d-flex justify-content-center fw-bold" role="alert">
            <h1 style="font-weight: bold;" class="display-1">One Page Wonder</h1>
          </div>
          <div style="color: black; font-weight: bold;" class=" p-0 alert alert-light m-2 mt-3 d-flex justify-content-center fw-bold" role="alert">
            <h1 style="font-weight: bold;" class="display-4" >Will Knock Your Sock Off</h1>
          </div>
    </div>
</row>